.chat-input {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  border-radius: 10px;
  border-color: transparent;
  background-color: #f8fafc;
  flex: 1;
  &__form {
    display: flex;
    border: 1px solid #e2e8f0;
    background-color: #f8fafc;
    border-radius: 10px;
    flex: 1;
  }
  &__container {
    display: flex;
    overflow-y: auto;
    min-height: 0;
    width: 100%;
    padding: 0 20px 30px;

    .send-button {
      background-color: #e2e8f0;
      color: white;
      padding: 8px 12px;
      margin: 4px;
      border: none;
      border-radius: 10px;
      color: #90a1b9;
    }
  }
}
