@use '@/styles/mixins' as *;

:global {
  .footer {
    border-top: 1px solid var(--color-neutral-stroke-divider);
    background: var(--color-neutral-background-raised-1);
    &__inner {
      @include layout-inner;
      & > [class^='footer'] {
        overflow: hidden;
        padding: 20px 0;
        border-bottom: 1px solid var(--color-neutral-stroke-divider);
        &:last-child {
          border-bottom: none;
        }
      }
    }

    &__nbanner {
      padding: 30px 0;
    }
    &__notice {
    }
    &__aside {
      @include flex($justify: space-between);
    }
    &__corp {
    }
    .partner {
    }
    .service {
      &-wrap {
        @include flex;
      }
    }
  }
}
