@use '@/styles/mixins' as *;

:global {
  .main {
    @include layout-inner;
    @include flex($justify: space-between, $align: flex-start);
    gap: 30px;
    margin-bottom: 30px;
    .layout {
      &-left {
        width: 830px;
      }
      &-right {
        width: 480px;
      }
    }
    & > [class*='layout'] {
      @include flex($justify: flex-start, $align: stretch, $fx: column);
      section {
        position: relative;
        border-radius: 8px;
        box-shadow:
          0 0 0 1px var(--color-neutral-stroke-subtle-1),
          0 1px 2px 0 rgba(0, 0, 0, 0.04);
        background-color: var(--color-neutral-background-default);

        & + section {
          margin-top: 16px;
        }
      }
    }
  }
}
